<!-- <div>
    <my-employee></my-employee>
</div>
<br/>
<div>
  <button class='colorClass' [ngClass]='addClasses()'>My Button</button>
</div>
<br/>
<div>
  <button style='color:red' [ngStyle]="addStyles()">My Another Button</button>
</div>
<br/>
<div>
  Name : <input [(ngModel)]='name'>
  <br/>
  <br/>
  You Typed: {{name}}
</div> -->

<!-- <list-employee></list-employee>
<div>
  Your Text : <input type='text' [(ngModel)]='userText'/>
  <br/><br/>
  <simple [simpleInput]='userText'></simple>
</div> -->

<div style="padding:5px">
  <ul class="nav nav-tabs">
      <li routerLinkActive="active">
          <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="employees">Employees</a>
      </li>
  </ul>
  <br/>
  <router-outlet></router-outlet>
</div>
